* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
nav {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}
#logo {
  width: 13rem;
  height: 6rem;
}
#logo img {
  width: 100%;
  height: 100%;
}
#ul {
  display: flex;
  align-items: center;
  color: white;
  width: 60%;
  justify-content: end;
  font-size: 1.5rem;
  list-style: none;
  gap: 1.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* transition: all 1.5s linear;
  transform: scaleX(1); */
}
#ul li {
  position: relative;
}
#ul li::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: white;
  transition: 0.3s;
}
#ul li:hover::after {
  width: 50%;
}
#ul li a {
  color: white;
}
#hamburgur {
  color: white;
  font-size: 2rem;
  display: none;
}
@media screen and (max-width: 600px) {
  nav {
    justify-content: space-around;
    position: relative;
    transition: all 1s linear;
  }
  #ul {
    /* display: none; */
    position: absolute;
    background-color: black;
    top: 6rem;
    height: 89vh;
    flex-direction: column;
    justify-content: flex-start;
    right: 0;
    padding-top: 2rem;
    transform: scaleX(0);
    transition: all 0.7s linear;
    transform-origin: right;
  }

  #hamburgur {
    padding-left: 4rem;
    display: inline-block;
    margin: auto;
    text-align: end;
  }

  .cross {
    display: none;
  }
}
